@import url('https://fonts.googleapis.com/css2?family=Allura&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
   font-family: "Montserrat", system-ui;
   margin: 0;
   border-top: 5px solid #042c0c;
   border-bottom: 5px solid black;
   background-image: url(images/white-hero.png);
   background-repeat: no-repeat;
   background-size: cover;
 }

 /* Website Links except the nav */
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: lightgreen;
}
a:active{
    color: white;
}

header{
    text-align: center;
    font-family: "Playfair Display", system-ui;
    margin: 0;
    padding: 20px;
    background-color: white;
}

/*navigation*/
nav{
    background-color:#045414;
    border-top: 3px solid black;
    padding: 5px;
    text-shadow: 2px 2px 5px black;
}
nav ul{
   list-style-type: none;
   text-align: center;
   margin: 8px 0;
   padding: 0;
}
nav li{
    display: inline;
    padding: 5px;
}
nav a{
    text-decoration: none;
}
nav a:active{
    color: gray;
}
nav a:visited{
    color: white;
}
nav a:link{
    color: white;
}
nav a:hover{
    color: lightgreen;
}

.hero-image{
    background-image: url(images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
}
.hero-image h1{
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    text-shadow: 5px 5px 5px black;
    font-family: "Playfair Display", system-ui;
    letter-spacing: 5px;
}

/*Main*/
main{
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    margin-left: 8em auto;
}
.home-photo{
    height: auto;
    width: 100%;
}
.links{
    text-align: center;
}
.button-link a{
    color: black;
}
.my-button:link{
    background-color: green;
    border: 3px solid black;
    border-radius: 50px;
    margin: 70px;
    margin-top: 20px;
    padding-top: 8px;
    display: block;
}
.my-button:hover{
    background-color: lightgreen;
    text-decoration: none;
}
.fa .fa{
    margin: 0 auto;
}
.resume{
    border: 1px solid #dddddd;
    box-shadow: 5px 5px 5px gray;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
}
.resume-content{
    border-left: 6px solid #dddddd;
    padding: 20px;
}
.animals{
    border-top: 5px solid green;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.groove{
    border-top: 5px solid green;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.puppies{
    border-top: 5px solid green;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.pacific{
    border-top: 5px solid green;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.portfolio-pics:hover{
    background-color: lightgrey;
    opacity: 50%;
}
blockquote{
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}
.skate-hero{
    border: 5px solid black;
}
.gallery-thumbnails img{
    width: 100%;
    border: 2px solid black;
}
.gallery-thumbnails-two img{
    width: 100%;
    border: 2px solid black;
}

/*Footer*/
footer{
  border-top: black 3px solid;
  text-align: center;
  background-image: url(images/hero.png);
  color: white;
  padding-top: 10px;
}


  /*CSS without a media query--applies to all sizes unless overridden*/
.enlarge{
    font-size: 18px;
}
h1{
    font-size: 4em;
    color: white;
}
h2{
    color: #045414;
    font-size: 35px;
    border-bottom: 2px solid #045414;
    padding-bottom: 10px;
}
.kd-work946{
    color: #045414;
}

h3{
    color: #045414;
}
h4{
    color: #045414;
}

h5{
    color: white;
    padding: 10px;                      
}


/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
  h1{
    font-size: 2em;
  }
}

/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
  h1{
    font-size: 1.5em;
  }
  .resume{
    border: 1px solid #dddddd;
    box-shadow: 5px 5px 5px gray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
  }
}
